@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    font-family: 'Source Code Pro', monospace;
    overflow-x: hidden;
}

header {
    background: #ffdbdb;
    height: 100vh;
}

.btn-blue {
    background-color: blue;
    color: white;
    font-size: 14px;
    border-radius: 0;
}

.btn-blue:hover {
    background-color: white;
    color: blue;
}

.image {
    height: 200px;
    background-image: url("../img/seventeens.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 25% 25%
}

a {
    color: blue;
}

a:hover {
    text-decoration: line-through;
    color: blue;
}