@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@media (max-width: 600px) {
    body {
        animation: none !important;
        background-position: 0 0 !important;
    }
}

@media (max-width: 400px) {
    body {
        background-image: none !important;
    }
    
    .navbar {
        background: #0808C4;
    }
}

body {
    font-family: 'Source Code Pro', monospace;
    background: #FFD2D2;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    animation: bg 10s linear infinite;
}

@keyframes bg {
    0% {
        background-position: 100% 100%;
    }
    
    50% {
        background-position: 0 0;
    }
    
    100% {
        background-position: 100% 100%;
    }
}

.btn-blue {
    background: blue;
    color: white;
    font-size: 14px;
    border-radius: 0;
}

.btn-blue:hover {
    background: white;
    color: blue;
}

.btn-red {
    background-color: white;
    color: #0808C4;
    font-size: 14px;
    border-radius: 0;
}

.btn-red:hover {
    background: red;
    color: white;
}

.navbar-nav {
    max-width: 100px;
    background: #0808C4;
}

.nav-link {
    color: #FFD2D2;
}

.nav-link:hover {
    text-decoration: line-through !important;
    color: #FFD2D2;
}

.navbar-toggler {
    color: #0808C4;
    background: #FFD2D2;
    border-radius: 0;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.navbar-toggler.clicked {
    color: #FFD2D2;
    background: #0808C4;
}

a {
    color: #0808C4;
}

a:hover {
    text-decoration: line-through !important;
    color: #0808C4;
}

p {
    font-size: 14px;
}

.album {
    height: 200px;
    width: 200px;
/*    background: #0808C4;*/
    background-image: url("../img/album.png");
    background-size: cover;
    display: inline-block;
}

.btn-main > i {
    margin-right: 8px;
    position: relative;
    top: 2px;
}